body,
html {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    line-height: 1;
    color: #333;
    font-family: PingFangSC-Regular, Arial, Tahoma, sans-serif;
}

body {
    background: #000717;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    overflow: hidden;
    //opacity: 0;
    .text-group {
        position: absolute;
        transition: opacity 0.5s ease-out,transform 0.5s ease-out;
        opacity: 0;
        z-index: 500;
        .text {
            position: relative;
            width: 0.7rem;
        }
        &.b-l {
            left: 10%;
            bottom: 10%;
        }
        &.b-r {
            right: 10%;
            bottom: 10%;
        }
        &.t-r {
            right: 10%;
            top: 10%;
        }
        &.t-c {
            left: 50%;
            top: 10%;
            margin-left: -0.8rem;
        }
        &.t-l {
            left: 10%;
            top: 10%;
        }
        &.show {
            opacity: 1;
            transform: translateY(unit(-16/75, rem));
        }
        &.hide {
            opacity: 0;
            transform: translateY(unit(-32/75, rem));
        }
        p:first-of-type {
            float: left;
        }
        p:last-of-type {
            float: right;
        }
    }
    .text {
        color: #fff;
        position: absolute;
        text-align: center;
        font-size: 0.4rem;
        b {
            font-size: 0.7rem;
            font-weight: inherit;
        }
        &.bottom {
            bottom: 20%;
            width: 0.5rem;
            right: 10%;
        }
    }
    .btn-text {
        width: 100%;
    }
}

.star-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.star {
    background: #ffffff;
    border-radius: 50%;
    height: 0.1rem;
    width: 0.1rem;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: .2;
    animation: star-0 3s infinite;
    &.yellow {
        background: #fedd34;
    }
    &.gray {
        background: #bebebe;
    }
    &.red {
        background: #f47e55;
    }
}

.star-cross {
    position: absolute;
    height: unit(51/75, rem);
    width: unit(29/75, rem);
    background: url('/asset/img/p2/star.png') 100% no-repeat;
    background-size: cover;
    animation: zoom-0 3s infinite linear;
}

.star-x {
    position: absolute;
    height: unit(10/75, rem);
    width: unit(10/75, rem);
    background: url('/asset/img/p2/star-x.png') no-repeat;
    background-size: cover;
}

.star-ball {
    position: absolute;
    height: unit(67/75, rem);
    width: unit(67/75, rem);
    background: url('/asset/img/p2/star-blue.png') no-repeat;
    background-size: cover;
    &.red {
        background-image: url('/asset/img/p2/star-red.png');
    }
}

//按钮
.enter-btn2 {
    width: 1.6rem;
    height: 1.6rem;
    background: rgba(37, 189, 237, 0.3);
    border-radius: 50%;
    position: absolute;
    top: 81%;
    left: 50%;
    margin-left: -0.8rem;
    z-index: 6;
    transition: all ease 1s;
    animation-iteration-count: infinite;
    div {
        margin: 0.3rem;
        width: 1rem;
        height: 1rem;
        background: rgba(37, 189, 237, 0.6);
        border-radius: 50%;
    }
}

.breath {
    animation-name: breath;
    animation-duration: 4s;
}

@keyframes breath {
    0% {
        transform: scale(0.7);
    }
    50% {
        transform: none;
    }
    100% {
        transform: scale(0.7);
    }
}

//多页
.bg-animation {
    transition: all 0s linear; //速度在js中设置
    width: 100%;
    height: 100%;
    &.next {
        transform: translateY(100%);
    }
}

.bg-wrapper {
    background: #000717;
    //transition: all 3s linear;
    //transform: translateY(-1rem) ;
    width: 100%;
    height: 100%;
    position: absolute;
    &.bg2 {
        top: -100%;
    }
}

@keyframes star-0 {
    0% {
        opacity: .2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

@keyframes star-1 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoom-0 {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(0.5);
    }
}

@keyframes zoom-1 {
    0% {
        transform: scale(0.6);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.6);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
    }
}