#p2 .bg-animation {
  transition: all 0s linear;
  width: 100%;
  height: 100%;
}
#p2 .bg-animation.next {
  transform: translateY(100%);
}
#p2 .bg-wrapper {
  background: #000717;
  width: 100%;
  height: 100%;
  position: absolute;
}
#p2 .bg-wrapper.bg2 {
  top: -100%;
}
#p2 .astronaut {
  position: absolute;
  width: 6rem;
  height: 8.4rem;
  top: 100%;
  left: 20%;
  z-index: 100;
  transition: all 3s linear;
}
#p2 .astronaut.show {
  top: 34%;
}
#p2 .astronaut img {
  width: 100%;
  height: 100%;
}
#p2 .ball {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 50;
}
#p2 .ball.ball1 {
  background-image: url('/asset/img/p2/ball1.png');
  width: 8.69333333rem;
  height: 8.69333333rem;
  bottom: -3.47733333rem;
  left: -3.47733333rem;
}
#p2 .ball.ball2 {
  background-image: url('/asset/img/p2/ball2.png');
  width: 4.90666667rem;
  height: 5rem;
  top: 46%;
  left: -16%;
  animation: rotate 8s infinite linear;
}
#p2 .ball.ball3 {
  background-image: url('/asset/img/p2/ball3.png');
  width: 2.18666667rem;
  height: 2.18666667rem;
  top: 3%;
  left: 10%;
  animation: rotate 5s infinite linear;
}
#p2 .ball.ball4 {
  background-image: url('/asset/img/p2/ball4.png');
  width: 1.49333333rem;
  height: 1.62666667rem;
  top: 40%;
  left: 60%;
}
#p2 .text1 {
  right: 8%;
}
#p2 .text1 p:first-of-type {
  margin-top: -1rem;
  margin-right: 0.1rem;
}
#p2 .text1 p:last-of-type {
  text-align: right;
  width: 0.7rem;
}
#p2 .text2 p:first-of-type {
  margin-top: -1.5rem;
}
#p2 .text3 {
  left: 6%;
}
#p2 .text3 p:first-of-type {
  margin-top: -1rem;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
